# VSCode config
.vscode/
# Test
test_imgs/
python_tests/
# frozen_east_text_detection.pb # redistribute this with the program
# Bin
out/
build/

*.out
*.png
*.jpg
*.webp
*.o

# Web assets
node_modules/
web_build/
web/cv/

# Demo + Docs
docs/